html, body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.menuList {
    background: linear-gradient(to right, #ec6f66, #f3a183);
    z-index: 2;
}

.menuList > li {
   list-style: none;
   font-weight: 300;
}

.bx-menu-alt-right {
    display: none;
}

.banner-img {
    width: 100%;
    margin-top: 30px;
}

.container-title > h1 {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}

.contentItems {
    font-size: 100px;
    margin: 20px;
    letter-spacing: 0.1em;
}

.bxs-leaf {
    color: #0dcaf0;
}

.bx-heart-circle {
    color: #ffc107;
}

.bx-happy-heart-eyes {
    color: #dc3545;
}

.titleItem {
    font-size: 14px;
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.1em;
}

.ice-cream-us > h2 {
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    letter-spacing: 0.1em;
}

.ice-cream-us > p {
    font-weight: 100;
    text-align: center;
    letter-spacing: 0.1em;
}

.info_content > h1 {
    font-weight: 300;
}

.info_content {
    line-height: 28px;
    font-weight: 300;
    letter-spacing: 1px;
} 

.title_lact {
    font-weight: 300;
}

.position-children {
    line-height: 28px;
    font-weight: 300;
    letter-spacing: 1px
}

.container_img_pub > img{
    width: 100%;
}

@media screen and (min-width: 941px) {
    .menuList {
        display: flex;
        justify-content: center;
        padding: 10px;
        margin: 0;
        width: 100%;
    }

    .menuList {
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menuList > li {
        margin-inline: 20px;
    }

    .banner-img {
        margin-top: 30px;
    }

    .containerItems {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contentItems > img {
        width: 100px;
    }

    .img-icecream {
        display: flex;
        justify-content: space-between;
    }

    .container_text_content {
        display: flex;
        justify-content: space-between;
        margin-bottom: -5px
    }

    .contenido-img {
        width: 50%;
    }
    
    .contenido-img > img {
        width: 100%;
    }

    .position_title {
        width: 50%;
        position: relative;
    }

    .position-children {
        position: absolute;
        top: 16%;
        transform: translateY(50px);
        right: 115px;
        width: 500px;
    }

    .text_content {
        position: relative;
    }

    .text_content > .info_content {
        position: absolute;
        transform: translateY(10px);
        top: 22%;
        left: 155px;
    }

    .info_content {
        width: 500px;
    }

    .img_content {
        width: 50%;
    }

    .img_content > img{
        margin-top: -4px;
        width: 100%;
    }

    .container_content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 450px;
    }
}

@media screen and (max-width: 940px) {
    .containerItems {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu_nav {
        position: relative;
    } 

    .menuList {
        position: absolute;
        top: 5%;
        transform: translateY(-50px);
        margin-bottom: 0;
        height: 800px;
        padding: 0;
        position: fixed;
        z-index: 2;
    }

    .menu_nav {
        margin-left: -180px; 
        transition: all 1s;
    }

    .menuList > li{
        padding: 30px;
        border-bottom: 1px solid #262b2973;
        text-align: center;
    }

    .bx-menu-alt-right {
        display: block;
        font-size: 30px;
        font-weight: 100;
    }

    .menu-on {
        margin-left: 0;
    }

    .container-menu-nav {
        display: flex;
        justify-content: space-between;
    }

    .icon-menu-responsive {
        background: linear-gradient(to right, #ec6f66, #f3a183);
        width: 100%;
        display: flex;
        justify-content: end;
        position: fixed;
        z-index: 1;
    }

    .position_title > h1 {
        font-size: 40px;
    }

    .contentItems > img {
        width: 100px;
    }

    .containerItems {
        display: flex;
        flex-wrap: wrap;
    }

    .img_content > img{
        width: 100%;
    }

    .container_text_content {
        display: flex;
        flex-direction: column;
    }

    .text_content {
        display: flex;
        justify-content: center; 
        align-items: center;
        height: 450px;
    }

    .info_content {
        width: 70%;
        text-align: center;
    }

    .contenido-img > img {
        width: 100%;
        margin-top: -5px;
    }

    .position_title {
        height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .position-children {
        text-align: center;
        width: 70%;
    }

    .container_content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 450px;
    }
}

@media screen and (max-width: 550px) {
    .position_title > h1 {
        font-size: 20px;
    }

    .container_content {
        height: 530px;
    }
}