html, body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.menuList {
    background-color: #0dcaf081;
}

.menuList > li {
   list-style: none;
   font-weight: 300;
}

.bx-menu-alt-right {
    display: none;
}

.banner-img {
    width: 100%;
    margin-top: 30px;
}

.container-title > h1 {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}

.contentItems {
    font-size: 100px;
    margin: 20px;
}

.bxs-leaf {
    color: #0dcaf0;
}

.bx-heart-circle {
    color: #ffc107;
}

.bx-happy-heart-eyes {
    color: #dc3545;
}

.titleItem {
    font-size: 14px;
    text-align: center;
    font-weight: 300;
}

@media screen and (min-width: 941px) {
    .menuList {
        display: flex;
        justify-content: center;
        padding: 10px;
        margin: 0;
        width: 100%;
    }

    .menuList {
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menuList > li {
        margin-inline: 20px;
    }

    .banner-img {
        margin-top: 30px;
    }

    .containerItems {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contentItems > img {
        width: 100px;
    }
}

@media screen and (max-width: 940px) {
    .containerItems {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu_nav {
        position: relative;
    } 

    .menuList {
        position: absolute;
        top: 5%;
        transform: translateY(-50px);
        margin-bottom: 0;
        height: 800px;
        padding: 0;
        position: fixed;
        z-index: 1;
    }

    .menu_nav {
        margin-left: -180px; 
        transition: all 1s;
    }

    .menuList > li{
        padding: 30px;
        border-bottom: 1px solid #262b2973;
        text-align: center;
    }

    .bx-menu-alt-right {
        display: block;
        font-size: 30px;
        font-weight: 100;
    }

    .menu-on {
        margin-left: 0;
    }

    .container-menu-nav {
        display: flex;
        justify-content: space-between;
    }


    .icon-menu-responsive {
        background-color: #0dcaf0;
        width: 100%;
        display: flex;
        justify-content: end;
        position: fixed;
    }

    .contentItems > img {
        width: 100px;
    }

    .containerItems {
        display: flex;
        flex-wrap: wrap;
    }

}